<ion-view view-title="Tu Cocina Virtual">
  <ion-content class="content">
	<div class="row columna">
		<div class="col col-100 barra-info">
			<p>A un paso de los sitios de comida más cercanos</p>
		</div>
	</div>

	<div class="row">
		<div class="col col-100 direccion">
			<label for="">Escribir dirección</label>
			<div class="list">
			    <label class="item item-input item-select">
			    <div class="input-label">
			      Pais
			    </div>
			    <select>
			      <option selected>Colombia</option>
			    </select>
			  </label>

			   <label class="item item-input item-select">
			    <div class="input-label">
			      Ciudad
			    </div>
			    <select>
			      <option selected>Bogotá</option>
			      <option>Medellin</option>
			      <option>Bucaramanga</option>
			      <option>Barranquilla</option>
			      <option>Cali</option>
			    </select>
			  </label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="dir">
		<p>DIRECCIÓN</p>

			<div class="select-dir">
				<select class="item item-input item-select">
					<option selected>Calle</option>
					<option>Avenida</option>
				</select>
			</div>
			<div class="calle">
				<input type="text" size="3">
			</div>
			<div class="numeral">
				<span>#</span>
			</div>
			<div class="num1">
				<input type="text" size="3">
			</div>
			<div class="guion">
				<span>-</span>
			</div>
			<div class="num2">
				<input type="text" size="3">
			</div>
		</div>
	</div>
	<div class="row">
		<button ng-click="restaurantes()" class="button button-block button-balanced">Buscar Sitios de Comida</button>
	</div>
   </ion-content>
</ion-view>