<ion-view view-title="Dirección">
  <ion-content class="content">
	<div class="row columna">
		<div class="col col-100 barra-info">
			<p>A un paso de los sitios de comida más cercanos</p>
		</div>
	</div>

	<div class="row">
		<div class="col col-100 direccion">
			<label for="">Escriba su dirección</label>
			<div class="list">
			    <label class="item item-input item-select">
			    <div class="input-label">
			      Pais
			    </div>
			    <select>
			      <option selected>Colombia</option>
			    </select>
			  </label>

			   <label class="item item-input item-select">
			    <div class="input-label">
			      Ciudad
			    </div>
			    <select>
			      <option selected>Bogotá</option>
			      <option>Medellin</option>
			      <option>Bucaramanga</option>
			      <option>Barranquilla</option>
			      <option>Cali</option>
			    </select>
			  </label>
			</div>
		</div>
	</div>

	<div class="row">
		
	</div>
   </ion-content>
</ion-view>