<ion-view view-title="Tu Cocina Virtual">
  <ion-content class="content">
	<div class="row columna">
		<div class="col col-100 barra-info">
			<p>A un paso de los sitios de comida más cercanos</p>
		</div>
	</div>

	<div class="card">
	<div class="item item-divider">
		Mi dirección
	</div>
	<div class="item item-text-wrap">
	<div class="row columna">
		<div class="col col-100 buscar-ubicacion">
			<!-- <i class="ion-ios-location"></i> -->
			<!-- <button ng-click="myLocation()" class="button button-block button-calm">
			  Encontrar mi ubicación
			</button> -->
			<a ng-click="myLocation()" href="" class="btn-home">Econtrar mi ubicación</a>
		</div>
	</div>

	<div class="row columna">
		<div class="col col-100 escribir-ubicacion">
			<!-- <i class="ion-ios-location"></i> -->
			<!-- <button ng-click="escribir_direccion()" class="button button-block button-balanced">
			  Escribir dirección
			</button> -->
			<a ng-click="escribir_direccion()" class="btn-home escribir" href="">Escribir dirección</a>
		</div>
	</div>

	<div class="row columna">
		<div class="col col-100 ofertas">
			<i class="ion-bag"></i>
			<p>Ofertas</p>
		</div>
	</div>
	</div>
<!-- 	<div class="item item-divider">
		
	</div> -->
	</div>

  </ion-content>
</ion-view>