<ion-view view-title="Tu Cocina Virtual">
  <ion-content class="content">
	<div class="row columna">
		<div class="col col-100 zona">
			<p>Zona: {{dirOrigen}}</p>
		</div>
	</div>

	<div class=" row columna">
		<div class="col col-100 search">
			<div class="list">
				<label class="item item-input item-select">
				 	<div class="input-label">
				      Tipo de comida
				    </div>
				  	<select>
				      <option selected>Hamburguesas</option>
				    </select>
				</label>
			</div>
		</div>
	</div>

	<div class="row columna">
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
			    <i class="icon ion-ios-search placeholder-icon"></i>
			    <input size="4" type="search" placeholder="Buscar sitio">
			</label>
			<button class="button button-clear">
			    Cancel
			</button>
		</div>
	</div>

	<div class="row columna">
		<div class="col col-100 ofertas-res">
			<h3><i class="ion-card"></i> Ofertas</h3>
		</div>
	</div>

	<div class="row columna">
		<div class="col col-100 list-res">
			<div class="list">
			    <a class="item item-thumbnail-left" href="#">
			      <img src="img/hamburguesa.jpg">
			      <h2>Hamburguesas del Oeste
			      </h2>
			      <p>Calle 92 # 11 - 32
					<div class="item-info">
				    	<i class="ion-clipboard item1"></i>
				    	<i class="ion-beer item2"></i>
				    	<i class="ion-ios-location-outline item3"></i>
				    </div>
			      </p>
			      <p>Hamburguesas</p>
			    </a>
			</div>

		<div class="list">
			    <a class="item item-thumbnail-left" href="#">
			      <img src="img/hamburguesa.jpg">
			      <h2>Hamburguesas del Oeste
			      </h2>
			      <p>Calle 92 # 11 - 32
					<div class="item-info">
				    	<i class="ion-clipboard item1"></i>
				    	<i class="ion-beer item2"></i>
				    	<i class="ion-ios-location-outline item3"></i>
				    </div>
			      </p>
			      <p>Hamburguesas</p>
			    </a>
			</div>

			<div class="list">
			    <a class="item item-thumbnail-left" href="#">
			      <img src="img/hamburguesa.jpg">
			      <h2>Hamburguesas del Oeste
			      </h2>
			      <p>Calle 92 # 11 - 32
					<div class="item-info">
				    	<i class="ion-clipboard item1"></i>
				    	<i class="ion-beer item2"></i>
				    	<i class="ion-ios-location-outline item3"></i>
				    </div>
			      </p>
			      <p>Hamburguesas</p>
			    </a>
			</div>

			<div class="list">
			    <a class="item item-thumbnail-left" href="#">
			      <img src="img/hamburguesa.jpg">
			      <h2>Hamburguesas del Oeste
			      </h2>
			      <p>Calle 92 # 11 - 32
					<div class="item-info">
				    	<i class="ion-clipboard item1"></i>
				    	<i class="ion-beer item2"></i>
				    	<i class="ion-ios-location-outline item3"></i>
				    </div>
			      </p>
			      <p>Hamburguesas</p>
			    </a>
			</div>
		</div>
	</div>
  </ion-content>	
</ion-view>